In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
#  2.Korzystając z pliku StackOverflowDeveloperSurvey.csv zaimportuj do zmiennej education kolumnę o nazwie
#"   FormalEducation" jako jednokolumnowy obiekt Data Frame

In [9]:
education = pd.read_csv("C:/Users/BMww/Downloads/course-files/course-files/StackOverflowDeveloperSurvey.csv",usecols=["FormalEducation"])

In [ ]:
#3. Sprawdź typ otrzymanej zmiennej.

In [10]:
type(education)

pandas.core.frame.DataFrame

In [ ]:
#4. Wyświetl tylko 5 pierwszych wierszy z education

In [11]:
education.head(5)

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [ ]:
#5. Powtórz akcję tak jak w pkt. 2, ale tym razem zadbaj o to , aby education było typu data series.

In [12]:
education = pd.read_csv("C:/Users/BMww/Downloads/course-files/course-files/StackOverflowDeveloperSurvey.csv",usecols=["FormalEducation"],squeeze=True)
type(education)

pandas.core.series.Series

In [ ]:
#7. Wyświetl 10 ostatnich wierszy z educatoin

In [13]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [ ]:
# 8. Do zmiennej allInfo zaimportuj cały plik danych (wszystkie kolumny), jako Data Frame

In [30]:
allInfo = pd.read_csv("C:/Users/BMww/Downloads/course-files/course-files/StackOverflowDeveloperSurvey.csv")

In [ ]:
# 9. Zainicjuj obiekt country typu data series, pobierając dane z kolumny "Country" obiektu allInfo

In [31]:
country = allInfo["Country"]

In [ ]:
#10. Wyświetl 5 pierwszych wierszy obiektu country

In [32]:
country.head(5)

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [ ]:
#11.(zastosowanie i mała powtórka z poprzednich lekcji) Utwórz serię filterOnlyUSA, która będzie inicjowana w
# oparciu o serię countries. filterOnlyUSA ma zawierać w wierszu wartość True , jeżeli w serii counties wartość
# to "United States"

In [33]:
filterOnlyUSA = country == "United States"
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [15]:
# 12. Wyświetl 5 pierwszych pozycji z serii filterOnlyUSA
# Wyświetl dane z serii education w taki sposób, że:
# pokazywane będą tylko informacje o ukończonej szkole tylko dla osób z country = "United States"
# wartości NaN mają być usunięte
# należy pokazać tylko 10 górnych wierszywszystko to powinno być zrobione w jednym poleceniu (method chaining)

SyntaxError: invalid syntax (<ipython-input-15-6c7cb63cd80c>, line 1)

In [34]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object