In [ ]:
# 1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math

In [ ]:
#2. Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series i zapisz ją w zmiennej
#salary. Wczytując elementy pomiń te ankiety, w których respondenci nie podali kwoty wynagrodzenia (użyj
#dropna()). Wyświetl 5 pierwszych elementów serii

In [14]:
salary = pd.read_csv("C:/Users/BMww/Downloads/course-files/course-files/StackOverflowDeveloperSurvey.csv",usecols=["Salary"],squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [ ]:
3. Ile osób odpowiedziało w ankiecie na temat otrzymywanego wynagrodzenia?

In [10]:
len(salary)

12891

In [ ]:
4. Jakie jest najmniejsze wynagrodzenie? A jakie jest największe wynagrodzenie?

In [16]:
min(salary)

0.0

In [17]:
max(salary)

197000.0

In [ ]:
5. Pięć pierwszych elementów serii zamień na listę (nie zapisuj jej w zmiennej, po prostu wyświetl)

In [18]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [ ]:
6. Pięć pierwszych elementów serii zamień na słownik (nie zapisuj go, po prostu wyświetl)

In [19]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [ ]:
7. W zmiennej listSalarySorted zapisz listę powstałą z posortowania serii salary malejąco

In [23]:
listSalarySorted = sorted(salary,reverse=True)

In [ ]:
Wyświetl pięć pierwszych elementów listy listSalarySorted. (Pamiętaj że to nie seria i nie zadziała metoda
head()
8.

In [24]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [ ]:
9. Zmień nazwę atrybutu name dla serii salary na "Salary of a person"

In [25]:
salary.name = 'Salary of a person'

In [ ]:
10. Wyświetl 5 pierwszych elementów serii salar