In [1]:
import pandas as pd

In [ ]:
2. Do zmiennej fortune500 wczytaj dane z pliku Fortune_500_2017.csv. Wczytaj kolumny Rank i Title.
Kolumna Rank powinna stać się indeksem. Wyświetl nagłówek otrzymanej serii danych.

In [3]:
fortune500 = pd.read_csv("C:/Users/BMww/Desktop/DataScience - Udemy/course-files/Fortune_500_2017.csv", usecols=['Rank','Title'], index_col=['Rank'], squeeze = True)

In [ ]:
3. Wyświetl 10 pierwszych firm znajdujących się najwyżej w klasyfikacji Fortune 500

In [4]:
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [ ]:
4. Wyświetl 20 ostatnich firm znajdujących się w klasyfikacji Fortune 500

In [6]:
fortune500[-20:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [ ]:
5. Wczytaj jeszcze raz plik, ale tym razem indeksem ma być kolumna Title, a wartościami kolumna
Employees opisująca ilość pracowników w każdej firmie.

In [15]:
employees = pd.read_csv("C:/Users/BMww/Desktop/DataScience - Udemy/course-files/Fortune_500_2017.csv", usecols = ['Employees','Title'], index_col = ['Title'], squeeze = True)

In [ ]:
6. Sprawdź ilu pracowników pracuje dla IBM, Alphabet (Google), Facebook i Apple

In [16]:
employees['IBM']

414400

In [18]:
employees['Facebook']

17048

In [19]:
employees['Apple']

116000

In [ ]:
7. Wyświetl infromacje o ilości pracowników dla firm od IBM do Intel

In [21]:
employees['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Lowe’s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64