In [ ]:
#1. Zaimportuj moduły: pandas, numpy, matplotlib (tylko pyplot), math i nadaj im standardowe aliasy

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import math as math

In [ ]:
#2.Z pliku StackOverflowDeveloperSurvey.csv wczytaj kolumnę Salary jako Data Series i zapisz ją w zmiennej
#salary. Wczytując elementy pomiń te ankiety, w których respondenci nie podali kwoty wynagrodzenia (użyj
#dropna()). Wyświetl 5 pierwszych elementó serii

In [4]:
salary = pd.read_csv("C:/Users/BMww/Downloads/course-files/course-files/StackOverflowDeveloperSurvey.csv",usecols=["Salary"],squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [ ]:
#3. Posortuj dane wg wynagrodzenia malejąco (wyświetl tylko 5 pierwszych pozycji).

In [7]:
salary = salary.sort_values(ascending=False)
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
Name: Salary, dtype: float64

In [ ]:
#4. Posortuj dane wg wynagrodzenia rosnąco (wyświetl tylko 5 pierwszych pozycji)

In [8]:
salary = salary.sort_values(ascending=True)
salary.head()

51144    0.0
4517     0.0
2951     0.0
23953    0.0
23907    0.0
Name: Salary, dtype: float64

In [ ]:
#5.Zmień parametry sortowania tak, aby lista została posortowana wewnętrznie na stałe wg wynagrodzenia
#malejąco. Wyświetl kilka początkowych elementów, aby przekonać się że obiekt jest teraz posortowany jak
#należy.

In [9]:
salary = salary.sort_values(ascending=False)
salary.head(15)

31600    197000.0
27943    195000.0
6743     195000.0
41398    195000.0
1696     195000.0
18237    195000.0
32622    194000.0
6717     193750.0
30550    193000.0
14363    192000.0
2370     192000.0
39064    190000.0
6594     190000.0
44319    190000.0
22317    190000.0
Name: Salary, dtype: float64

In [ ]:
#6. Posortuj dane wg indeksu malejąco

In [10]:
salary.sort_index(ascending=False).head()

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
Name: Salary, dtype: float64

In [ ]:
#7. Zapisz w zmiennej maxSalaries 100 największych wynagrodzeń z serii Salary

In [11]:
maxSalaries = salary.sort_values(ascending=False).head(100)

In [ ]:
#8. Zapisz w zmiennej minSalaries 100 najniższych wynagrodzeń z serii Salary

In [12]:
minSalaries = salary.sort_values(ascending=True).head(100)

In [ ]:
#9. Wyznacz średnią wartość z wynagrodzeń znajdujących się w serii maxSalaries

In [13]:
maxSalaries.mean()

180198.1045586777

In [ ]:
#10. Wyznacz średnią wartiść z wynagrodzeń znajdujących się w serii minSalaries

In [14]:
minSalaries.mean()

67.08388907133795