In [ ]:
1. Zaimportuj moduł pandas i nadaj mu standardowy alias.

In [1]:
import pandas as pd

In [ ]:
2. Do zmiennej programmers wczytaj serię danych z pliku StackOverflowDeveloperSurvey2018.csv.
Wczytując dane użyj arguemtu low_memory=False, usecols='ConvertedSalary i squeeze=True.

In [3]:
programmers = pd.read_csv("C:/Users/BMww/Desktop/DataScience - Udemy/course-files/StackOverflowDeveloperSurvey2018.csv",low_memory = False, usecols = ['ConvertedSalary'], squeeze = True)

In [6]:
programmers.count()

47702

In [7]:
programmers.value_counts()

0.0          842
120000.0     524
100000.0     497
80000.0      396
1000000.0    382
            ...
19284.0        1
43716.0        1
15396.0        1
180803.0       1
163838.0       1
Name: ConvertedSalary, Length: 7473, dtype: int64

In [8]:
programmers.value_counts().head()

0.0          842
120000.0     524
100000.0     497
80000.0      396
1000000.0    382
Name: ConvertedSalary, dtype: int64

In [ ]:
3. Wylicz średnią, medianę i odchylenie standardowe. Co można powiedzieć o tych danych?

In [9]:
programmers.mean()

95780.86178776571

In [11]:
programmers.median()

55075.0

In [ ]:
4. Wylicz maksymalną wartość Salary.

In [12]:
programmers.max()

2000000.0

In [ ]:
5. Do zmiennej fortune500 wczytaj dane z pliku Fortune_500_2017.csv. Wczytaj kolumny Title i Employees.
Kolumna Title powinna stać się indeksem. Wyświetl nagłówek otrzymanej serii danych.

In [13]:
fortune500 = pd.read_csv("C:/Users/BMww/Desktop/DataScience - Udemy/course-files/Fortune_500_2017.csv", usecols = ['Title','Employees'], index_col = ['Title'], squeeze = True)

In [14]:
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [ ]:
6. Wyświetl jaki jest indeks dla pozycji z największą liczbą pracowników. W ten sposób znajdziesz na liście
Fortune firmę zatrudniającą najwięcej pracowników.

In [16]:
fortune500.idxmax()

'Walmart'

In [ ]:
7. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie

In [21]:
fortune500.loc[fortune500.idxmax()]

2300000

In [ ]:
Wyświetl jaki jest indeks dla pozycji z najmniejszą liczbą pracowników. W ten sposób znajdziesz na liście
Fortune firmę zatrudniającą najmniej pracowników

In [23]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [ ]:
9. A ile pracowników zatrudnia ta firma. Skorzystaj z wartości wyliczonej w poprzednim punkcie

In [25]:
fortune500.loc[fortune500.idxmin()]

83